body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.card {
display: none;
   flex-direction: column; 
   width: 100%;
   max-width: 350px;
   height: auto;
   background-color: hsl(213, 19%, 18%);
   padding: 50px 30px 32px; 
   border-radius: 30px;
}


.card__rating {
    display: none;
}


.card__dots {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.card__dots .dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 15%);
    color: hsl(0, 100%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}



.star__wrap {
   display: flex;
   width: 50px;
   height: 50px;
   background-color: rgba(255, 255, 255, 0.05);
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}


.card__button {
    display: flex;
    justify-content: center;
    padding: 14px 20px;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 100px;
    border: none;

    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;  
    color: hsl(216, 12%, 8%);
}


.card__title {
    font-size: 28px;
    color: hsl(0, 100%, 100%);
    font-weight: 700;
    margin-bottom: 12px;
}

.card__subtitle {
    font-size: 15px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    margin-top: 0;
}


.card__thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    width: 100%;
    max-width: 350px;
}


