body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card {
   display: flex;
   flex-direction: column; 
   width: 100%;
   max-width: 412px;
   height: auto;
   background-color: hsl(213, 19%, 18%);
   padding: 50px 30px 20px;
}


.card__dots {
    display: flex;
    justify-content: space-between;
}

.card__dots .dot {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__button {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: purple;
   border-radius: 10px;
   padding: 10px 20px ;
}



.star__wrap {
   display: flex;
   width: 50px;
   height: 50px;
   background-color: rgba(255, 255, 255, 0.05);
   border-radius: 50%;
   justify-content: center;
   align-items: center;
}